.menu-item{
    background-color: #264653;
}
.bg-orange{
   background-color: #e76f51; 
}
.orange-color{
    background-color: #e76f51;
}
.orange-text{
    color:#e76f51;
}
.img-size{
    width: 149px;
    height: 149px;
    line-height: 100px;

 /* card-design */
 img{
    margin-top: 25px;
    }
    .card-section{
        background-color: #fff;
        padding: 50px;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
        transition: .4s;
    }
    .card-section::before{
        content: "";
        position: absolute;
        top:-154px;
        right:0;
        left:0;
        margin: auto;
        width:90%;
        height:70%;
        line-height: 45%;
        border-radius: 50%;
        background-color: #fdebeb;
    }
    .card-section:hover{
        transform: translateY(-15px);
   
    }
    .card-section:hover .card-icon i{
       background-color: #e73a3e;
       color: #fff;
    }
    .card-icon i{
        color:#e73a3e;
        width: 80px;
        height: 80px;
        line-height: 80px;
        border-radius: 50%;
        font-size: 35px;
        margin-top: -10px;
        position: relative;
        background-color:#fff ;
        z-index: 3;
        transition: .4s;
    }
    .card-icon h2{
        font-size:28px ;
        font-weight:500 ;
        margin-top: 36px;
    }
    .card-icon p{
        font-size: 14px;
        font-weight: 500;
        line-height: 27px;
        color: #606060;
        padding: 0px 5px;
    }
    .top-star{
        margin-top:-28px;
    }}

